body {
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  background-color: #f8f9fa;
  background: rgb(165, 193, 248);
}

h2 {
  text-align: center;
  color: #002e6d;
  font-size: 0.8rem; 
  font-weight: bold;
}

.logo1 {
  height: 90px;
  object-fit: contain;
  margin-top: -7px;
}

/* --- Ajustes en móviles --- */
@media (max-width: 576px) {
  .row.g-0.mb-1 {
    display: flex;
    align-items: flex-start;   /* fuerza alineación arriba */
  }

  .col-3, .col-9 {
    display: flex;
    align-items: flex-start;   /* alinear los logos arriba */
  }

  .logo1 {
    height: 70px;   /* más pequeño en móvil para que no empuje demasiado */
    margin-top: 0;  /* resetea el margen negativo */
  }
}

.table th {
  background-color: #002e6d !important;
  color: white;
  font-size: 0.85rem;
  line-height: 1.2;
  vertical-align: middle !important;
}

/* Opcional si quieres mejor control del aspecto */
.object-fit-contain {
  object-fit: contain;
}

.titulo-deformaciones {
  text-align: center;
  color: #003366;         /* Azul marino más oscuro */
  font-size: 1.1rem;       /* Más pequeño que el h2 original */
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;
}

/* Reducir tamaño de la tabla de mediciones */
#tablaDatos th,
#tablaDatos td {
    font-size: 0.74rem !important;   /* texto más pequeño */
    padding: 2px 4px !important;    /* menos espacio interno */
    line-height: 1.1;               /* más compacto */
}

#tablaDatos input {
    font-size: 1.5rem !important;   /* texto pequeño en campos editables */
    padding: 2px 4px !important;
    height: auto !important;        /* evita que se estiren */
}


/* Reducir tamaño del texto en todos los botones */
.btn {
    font-size: 0.75rem !important; /* más pequeño que el tamaño por defecto */
    padding: 4px 8px !important;   /* menos espacio interno para que se vean más compactos */
}

/* Opcional: hacer que el texto del dropdown sea también más pequeño */
.dropdown-menu .dropdown-item {
    font-size: 0.75rem !important;
}
