body {
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  background-color: #f8f9fa;
  background: rgb(165, 193, 248);
}

h2 {
  text-align: center;
  color: #002e6d;
  font-size: 0.8rem;
  font-weight: bold;
}

.logo1 {
  height: 90px;
  object-fit: contain;
  margin-top: -6px;
}


/* --- Ajustes en móviles --- */
@media (max-width: 576px) {

  .titulo-deformaciones {
    font-size: 0.9rem !important;
  }

  /* Reducir tamaño de celdas en móvil */
  #tablaDatos thead th {
    font-size: 0.60rem !important;
    padding: 2px 3px;
  }

  .row.g-0.mb-1 {
    display: flex;
    align-items: flex-start;  /* fuerza alineación arriba */
  }

  .col-3,
  .col-9 {
    display: flex;
    align-items: flex-start;
  }

  .logo1 {
    height: 70px;
    margin-top: -8px;
  }
}

.table th {
  background-color: #002e6d !important;
  color: white;
  font-size: 0.85rem;
  line-height: 1.2;
  vertical-align: middle !important;
}

/* control del aspecto */
.object-fit-contain {
  object-fit: contain;
}

.titulo-deformaciones {
  text-align: center;
  color: #003366;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;
}

/* Reducir tamaño de la tabla de mediciones */
#tablaDatos th,
#tablaDatos td {
  font-size: 0.74rem !important;
  padding: 2px 4px !important;
  /* menos espacio interno */
  line-height: 1.1;
}

#tablaDatos input {
  font-size: 1.5rem !important;  /* texto pequeño en campos editables */
  padding: 2px 4px !important;
  height: auto !important;       /* evita que se estiren */
}


/* Reducir tamaño del texto en todos los botones */
.btn {
  font-size: 0.75rem !important;
  padding: 2px 6px !important;
}

/* hacer que el texto del dropdown sea también más pequeño */
.dropdown-menu .dropdown-item {
  font-size: 0.75rem !important;
}

.modal-footer .btn {
  font-size: 0.8rem !important;
}